*{
  box-sizing: border-box;
}

html, body{
  height: 100vh;
}

body{
  background-color: #F5F5F5;
}

/*font styles for header and buttons*/
h1, select.header{
  font-family: 'Dancing Script', Georgia, Times, serif;
}
button{
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}

/*header styles*/
.header-container{
  margin-top: 1em;
}

.header{
  font-size: 5em;
  padding: .2em;
  display: inline;
  text-align: center;
}

.form-control{
  height: 2em;
}

/*button section styles*/
.buttons-container{
  margin: 0 1em;
}

button{
  height: 5em;
}
#yesbutton{
  background-color: #00ff99;
  margin-bottom: 1em;
}

#notyetbutton{
  background-color: #FFFF00;
}
