*{
  box-sizing: border-box;
}

body{
  background-color: #fcf8be;
  margin: 0;
  color: #1253a4;
}

/*font styles for header and buttons*/
h1, .dropdown button, .dropdown-menu li{
  font-family: 'Dancing Script', Georgia, Times, serif;
  font-size: 4em;
}
.buttons-container button{
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: #f4f4f2;
}
.footer, .modal-dialog{
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
  font-size: 1em;
}

/*header styles*/
.header-container{
  display: inline;
  text-align: center;
}

.dropdown button{
  height: 2.5em;
}

.dropdown-menu, .dropdown button{
  background-color: #fcf8be;
}

.dropdown-menu li{
  font-size: 3em;
}

.dropdown-menu-left{
  text-align: center;
}

h1::first-letter, #dLabel::first-letter, span {
    font-size: 200%;
    color: #30302f;
}

/*button section styles*/
.buttons-container{
  margin: 0 1em;
}

button{
  height: 2.5em;
}

#yesbutton{
  background-color: #1253a4;
  margin-bottom: 1em;
}

#notyetbutton{
  background-color: #f26964;
}

/*modal style*/
.modal-dialog{
  max-width: 100vw;
  max-height: 100vh;
}

.modal-body .img-responsive{
  margin: 0 auto;
}

/*footer style*/
.footer {
  text-align: center;
  background-color: #30302f;
}

#contactlink{
  color: #f4f4f2;
  padding-top: .5em;
}

/* media queries */
@media screen and (max-width: 962px) {

  h1, .dropdown button, .dropdown-menu li{
    font-size: 2.5em;
  }
  .buttons-container button{
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    color: #f4f4f2;
  }
  .footer, .modal-dialog{
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-size: 1em;
  }
}
